# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules

# next.js
/.next/
/out/

# production
/build

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*

# env files
.env*

# vercel
.vercel

# typescript
*.tsbuildinfo
next-env.d.ts
node_modules/@next/swc-linux-arm64-gnu/next-swc.linux-arm64-gnu.node
.next/cache/webpack/server-production/0.pack
node_modules/@next/swc-linux-arm64-musl/next-swc.linux-arm64-musl.node
